# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.env

# Environment variables
.env.*
*.env

# Logs
*.log

# SQLite DB (if any)
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Migrations (optional if using Alembic)
alembic/versions/*.pyc
